#profile-title {
  @include h3;

  @include min-width($layout-l) {
    @include ui-nav;
  }
}

.profile {

  .container {

    ul {

      span {

        &:first-child {
          font-weight: 600;

          @include min-max-width($layout-l, $layout-xl) {
            display: block;
          }

          @include max-width($layout-s) {
            display: block;
          }
        }
      }
    }

    > :last-child {
      @include button;
    }
  }

  @include min-width($layout-l) {
    @include ui-wrapper;

    position: fixed;
    bottom: rem(20);
    left: rem(10);
  }
}

