#styles {

  h2 {
    @include h3;

    @include min-width($layout-l) {
      --margin-top: 5;
    }
  }

  .features {

    li {
      margin-bottom: var(--baseline);
    }

    a {

      @include max-width($layout-s) {
        display: table;
      }

      @include min-width($layout-l) {
        display: table;
      }
    }
  }

  .container {

    > :last-child {
      @include button;
    }
  }
}
